<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <title>Mercado Liebre</title>

        <link rel="stylesheet" href="/css/styles.css" />
        <link rel="stylesheet" href="/css/color-text.css" />
        <link
            rel="stylesheet"
            href="/css/styles-tablet.css"
            media="(min-width:480px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-laptops.css"
            media="(min-width:768px)"
        />
        <link
            rel="stylesheet"
            href="/css/styles-desktop.css"
            media="(min-width:1280px)"
        />

        <link rel="preconnect" href="https://fonts.googleapis.com" />
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
        <link
            href="https://fonts.googleapis.com/css2?family=Roboto&display=swap"
            rel="stylesheet"
        />
        <link
            href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css"
            rel="stylesheet"
        />
    </head>

    <body>
        <header class="main-header">
            <div class="main-header-top">
                <img
                    class="logo-ml w-33-sm"
                    src="/img/logo-mercado-liebre.svg"
                    alt="Logo Mercado Liebre"
                />

                <div class="padding-8 width-50 w-33-sm">
                    <div class="flex no-wrap searchbar width-100">
                        <input
                            type="text"
                            class="width-100"
                            placeholder="Buscar productos, marcas"
                        />
                        <button><i class="fa fa-search"></i></button>
                    </div>
                </div>

                <div class="width-100 w-33-sm">
                    <h3 class="copy-header">
                        <i class="fas fa-hand-holding-usd"></i>
                        Comprá en cuotas y sin tarjeta de crédito
                    </h3>
                </div>
            </div>

            <a href="#" class="icon-burger">
                <i class="fas fa-bars"></i>
            </a>

            <nav class="ml-main-nav show-sm">
                <ul>
                    <li>
                        <a href="#"> Ofertas </a>
                    </li>

                    <li>
                        <a href="#">Tiendas Oficiales</a>
                    </li>

                    <li>
                        <a href="#">Vender</a>
                    </li>

                    <li>
                        <a href="#">Ayuda</a>
                    </li>
                </ul>

                <ul>
                    <li>
                        <a href="/register">Creá tu cuenta </a>
                        <i class="far fa-id-card"></i>
                    </li>
                    <li>
                        <a href="/login">Ingresá </a>
                        <i class="fas fa-sign-in-alt"></i>
                    </li>
                    <li>
                        <a href="#">Mis compras </a>
                        <i class="fas fa-shopping-basket"></i>
                    </li>
                </ul>
            </nav>
        </header>

        <section>
            <img class="banner" src="/img/img-home-banner.jpg" alt="Banner" />
        </section>

        <main id="main-content">
            <section>
                <h2 class="text-titles">Basado en tu última visita</h2>
                <div class="flex">
                    <div class="producto-wrapper">
                        <article class="producto shadow">
                            <img
                                src="/img/img-cafetera-moulinex.jpg"
                                alt="Cafetera Moulinex"
                                width="100%"
                            />
                            <div class="contenido-producto">
                                <i class="fas fa-truck i-truck"></i>
                                <p class="text-prices">$6.770</p>
                                <p class="text-discount text-verde">40% OFF</p>
                                <p class="text-description">
                                    Cafetera Moulinex
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="producto-wrapper">
                        <article class="producto shadow">
                            <img
                                src="/img/img-macbook-pro-2019.jpg"
                                alt="Macbook Pro"
                                width="100%"
                            />
                            <div class="contenido-producto">
                                <i class="fas fa-truck i-truck"></i>
                                <p class="text-prices">$230.000</p>
                                <p class="text-discount text-verde">20% OFF</p>
                                <p class="text-description">Macbook Pro 2019</p>
                            </div>
                        </article>
                    </div>

                    <div class="producto-wrapper">
                        <article class="producto shadow">
                            <img
                                src="/img/img-samsung-galaxy-s10.jpg"
                                alt="Samsung Galaxy S10"
                                width="100%"
                            />
                            <div class="contenido-producto">
                                <i class="fas fa-truck i-truck"></i>
                                <p class="text-prices">$70.500</p>
                                <p class="text-discount text-verde">10% OFF</p>
                                <p class="text-description">
                                    Samsung Galaxy S10
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="producto-wrapper">
                        <article class="producto shadow">
                            <img
                                src="/img/img-tv-samsung-smart.jpg"
                                alt="TV Samsung Smart"
                                width="100%"
                            />
                            <div class="contenido-producto">
                                <i class="fas fa-truck i-truck"></i>
                                <p class="text-prices">$23.200</p>
                                <p class="text-discount text-verde">5% OFF</p>
                                <p class="text-description">
                                    SmartTv Samsung 43"
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>

            <section>
                <h2 class="text-titles">Sección de ofertas</h2>
                <div class="flex">
                    <div class="producto-wrapper">
                        <article class="producto shadow">
                            <img
                                src="/img/img-cafetera-moulinex.jpg"
                                alt="Cafetera Moulinex"
                                width="100%"
                            />
                            <div class="contenido-producto">
                                <i class="fas fa-truck i-truck"></i>
                                <p class="text-prices">$6.770</p>
                                <p class="text-discount text-verde">40% OFF</p>
                                <p class="text-description">
                                    Cafetera Moulinex
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="producto-wrapper">
                        <article class="producto shadow">
                            <img
                                src="/img/img-macbook-pro-2019.jpg"
                                alt="Macbook Pro"
                                width="100%"
                            />
                            <div class="contenido-producto">
                                <i class="fas fa-truck i-truck"></i>
                                <p class="text-prices">$230.000</p>
                                <p class="text-discount text-verde">20% OFF</p>
                                <p class="text-description">Macbook Pro 2019</p>
                            </div>
                        </article>
                    </div>

                    <div class="producto-wrapper">
                        <article class="producto shadow">
                            <img
                                src="/img/img-samsung-galaxy-s10.jpg"
                                alt="Samsung Galaxy S10"
                                width="100%"
                            />
                            <div class="contenido-producto">
                                <i class="fas fa-truck i-truck"></i>
                                <p class="text-prices">$70.500</p>
                                <p class="text-discount text-verde">10% OFF</p>
                                <p class="text-description">
                                    Samsung Galaxy S10
                                </p>
                            </div>
                        </article>
                    </div>

                    <div class="producto-wrapper">
                        <article class="producto shadow">
                            <img
                                src="/img/img-tv-samsung-smart.jpg"
                                alt="TV Samsung Smart"
                                width="100%"
                            />
                            <div class="contenido-producto">
                                <i class="fas fa-truck i-truck"></i>
                                <p class="text-prices">$23.200</p>
                                <p class="text-discount text-verde">5% OFF</p>
                                <p class="text-description">
                                    SmartTv Samsung 43"
                                </p>
                            </div>
                        </article>
                    </div>
                </div>
            </section>
        </main>

        <footer>
            <div class="text-centered text-margin-bottom">
                <i class="fas fa-credit-card icon-footer"></i>
                <h4 class="title-footer">Pagá con tarjeta o en efectivo</h4>
                <p>
                    Con Mercado Liebre Cash, tenés cuotas sin interés con
                    tarjeta o efectivo en puntos de pago. ¡Y siempre es seguro!
                </p>
            </div>

            <div class="text-centered text-margin-bottom">
                <i class="fas fa-gift icon-footer"></i>
                <h4 class="title-footer">Envío gratis desde $ 2.500</h4>
                <p>
                    Solo por estar registrad@ en Mercado Liebre tenés envíos
                    gratis en miles de productos. Es un beneficio de Mercado
                    Puntos.
                </p>
            </div>

            <div class="text-centered text-margin-bottom">
                <i class="fas fa-user-shield icon-footer"></i>
                <h4 class="title-footer">Seguridad, de principio a fin</h4>
                <p>
                    ¿No te gusta? ¡Devolvelo! En Mercado Liebre, no hay nada que
                    no puedas hacer, porque estás siempre protegid@.
                </p>
            </div>

            <div>
                <h4>Copyright © 1999-2020 MercadoLiebre S.R.L.</h4>
            </div>
        </footer>
    </body>
</html>
