/*1280px*/
.producto-wrapper {
    width: 25%;
}

.main-header-top,
.ml-main-nav {
    max-width: 1200px;
    margin: auto;
}

.ml-main-nav li {
    padding: 12px;
}

footer div div {
    width: 30%;
}

footer .flex {
    padding: 16px 48px;
    justify-content: space-between;
}
